<form action="/<%= @book[:id]%>" method="post">
  <div>
    <div>
      <label>Title:</label>
      <input type="text" name="title" value="<%= @book[:title]%>" placeholder="Enter the title.">
    </div>
    <div>
      <label>Body:</label>
      <textarea name="body" rows="8" cols="80" placeholder="Enter the text for the body."><%= @book[:body]%></textarea>
    </div>
      <% if @book[:id] != "" %>
      <input type="hidden" name="_method" value="PUT">
      <% end %>
    <div>
      <input type="submit" name="" value="save post">
    </div>
  </div>
</form>
